.p1 {
    padding: 1rem;
}

.p2 {
    padding: 2rem;
}

.p05 {
  padding: 0.5rem;
}

.transition {
  transition: 0.5s all;
}

// Header
// .custom-logo-link {
//   margin-top: 10px;
// }

.site-header {
  background-color: $color__background-header;
  opacity: 0.8;
  //position: fixed;

  .row {
    @extend .p1;
  }
}


// Footer
footer {
    background-color: $color__background-footer;
    color: $color__text-footer;

    .row {
        @extend .p2;
    }

    a {
        color: $color__text-footer;
        text-decoration: none;

        &:hover {
            color: darken( $color__text-footer, 20% );
        }
    }
}

.card{
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
}

.post{
  margin-left: 1rem;
  text-align: left;
  margin-right: 1rem;
}

.container-blog{
  max-width: 720px;
  margin: 0 auto;
  margin-top: 100px!important;
  margin-bottom: 100px!important;
}

.site-content{
  background-image: url("../../uploads/2019/04/pattern-legumes.png");
  background-repeat: repeat;
  z-index: 1;
}

// Encadrement du main de chaque page

.site-main{
  // pour masquer les légumes du fond
  background-color: $color__background-body;
  // pour le positionnnement du titre (voir ci-dessous)
  text-align: center;
  // pour la bordure double
  margin: 3rem 5rem;
  border-width: 4px;
  border-style: double;
  border-color: $color__primary;
  padding: 1rem 2rem;
}

.card-image{
  img{
    width: 300px!important;
    height: 300px!important;
    max-width: none;
  }
}

.suite{
  a{
    text-transform: uppercase!important;
  }
}

.article-blog {
	display: flex;
	justify-content: space-between;
}

.photo {
	width: 30%;
	margin-right: 2%;
	background-color: white;
	color: #3e3e3e;
	height: -moz-fit-content;
	height: fit-content;

	a {
		color: #008000;
	}

	a:visited {
		color: #008000;
	}
}

.nav-previous{
  a{
  color: #008000!important;
  }
}

.article-content {
	width: 70%;
	background-color: white;
	color: #3e3e3e;
	padding: 2% 5%;

	h2 {
		margin: 0;
		padding-bottom: 3%;
		border-bottom: 1px solid #3e3e3e;
	}

	a {
		color: #008000;
	}

	a:visited {
		color: #008000;
	}
}

.paragraphe-blog{
  p{
  text-align: center;
  }
}

.post-template-default{
  article{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
  }
}
