////////////////////////////
// Variations des saisons //
////////////////////////////

$color__var-printemps: #ef7c4d;
$color__var-ete: #4e8333;
$color__var-automne: #984d13;
$color__var-hiver: #2daae1;


// Printemps
body.printemps {
    .main-navigation ul li,
    .main-navigation .current_page_item>a,
    .main-navigation .current-menu-item>a,
    .links__left__skew__img,
    .entry-header h1, .entry-header h1.entry-tile,
    footer
    {
        background-color: $color__var-printemps;
    }

    .main-navigation ul li {
        &:hover > a,
		&.focus > a {
			background-color: darken($color__var-printemps,10%);
        }
    }
    
        
    .secondary_box_background {
        background-image: url(../../uploads/2019/04/spring4.jpg);
    } 

    .second-border, .site-main {
		border: solid 1px $color__var-printemps;
    }
    
    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
        color: #666;
        border: 1px solid $color__var-printemps;
        border-radius: 3px;
        padding: 3px;
    }

    input[type="submit"],
    button.menu-toggle,
    h3.date-title{
        background-color: darken($color__var-printemps, 20%);
        border: 1px solid $color__var-printemps;
        color: white !important;
        font-size: 1.2em;
        padding: .5rem 1rem; 
        cursor: pointer;  
    }

    .grid-card{
        h2{
            color: $color__var-printemps;
        }
        a{
            border-bottom: solid 2px $color__var-printemps;
        }
        &:nth-child(1),
        &:nth-child(4){
          background-color: lighten($color__var-printemps, 30%);
        }
        &:nth-child(2),
        &:nth-child(3){
          background-color: lighten($color__var-printemps, 50%);
        }
    }

    .facebook{
        .poivron{
            background-image: url("../../uploads/2019/05/fleurs.svg");
        }
    }

    // index.php
    .card{
        h4{
            color: $color__var-printemps;
          }    
    } 

    .wp-paginate.wpp-modern-grey {
        a{
          border-radius: 0!important;
          //padding: 0!important;
          background-color: $color__var-printemps!important;
        }
        span{
          border-radius: 0!important;
          //padding: 0!important;
          background-color: $color__var-printemps!important;
        }
    }
      
}

// Été
body.ete {
    .main-navigation ul li,
    .main-navigation .current_page_item>a,
    .main-navigation .current-menu-item>a,
    .links__left__skew__img,
    .entry-header h1, .entry-header h1.entry-tile,
    footer
    {
        background-color: $color__var-ete;
    }

    .main-navigation ul li {
        &:hover > a,
		&.focus > a {
			background-color: darken($color__var-ete,10%);
        }
    }

    .secondary_box_background {
        background-image: url(../../uploads/2019/04/pommes3.jpg);
    } 

    .second-border, .site-main {
		border: solid 1px $color__var-ete;
    }
    
    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
        color: #666;
        border: 1px solid $color__var-ete;
        border-radius: 3px;
        padding: 3px;
    }

    input[type="submit"],
    button.menu-toggle,
    h3.date-title{
        background-color: darken($color__var-ete, 20%);
        padding: .5rem 1rem;   
    }

    .grid-card{
        h2{
            color: $color__var-ete;
        }
        a{
            border-bottom: solid 2px $color__var-ete;
        }
        &:nth-child(1),
        &:nth-child(4){
          background-color: lighten($color__var-ete, 30%);
        }
        &:nth-child(2),
        &:nth-child(3){
          background-color: lighten($color__var-ete, 50%);
        }
    }

    .facebook{
        .poivron{
            background-image: url("../../uploads/2019/05/piment.svg");
        }
    }

    // index.php
    .card{
        h4{
            color: $color__var-ete;
          }    
    } 

    .wp-paginate.wpp-modern-grey {
        a{
          border-radius: 0!important;
          //padding: 0!important;
          background-color: $color__var-ete!important;
        }
        span{
          border-radius: 0!important;
          //padding: 0!important;
          background-color: $color__var-ete!important;
        }
    }


}

// Automne
body.automne {
    .main-navigation ul li,
    .main-navigation .current_page_item>a,
    .main-navigation .current-menu-item>a,
    .links__left__skew__img,
    .entry-header h1, .entry-header h1.entry-tile,
    footer
    {
        background-color: $color__var-automne;
    }

    .main-navigation ul li {
        &:hover > a,
		&.focus > a {
			background-color: darken($color__var-automne,10%);
        }
    }

    .secondary_box_background {
        background-image: url(../../uploads/2019/04/pumpkin.jpg);
    } 

    .second-border, .site-main {
		border: solid 1px $color__var-automne;
    }
    
    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
        color: #666;
        border: 1px solid $color__var-automne;
        border-radius: 3px;
        padding: 3px;
    }
    input[type="submit"],
    button.menu-toggle,
    h3.date-title{
        background-color: darken($color__var-automne, 20%);
        padding: .5rem 1rem;   
    }

    .grid-card{
        h2{
            color: $color__var-automne;
        }
        a{
            border-bottom: solid 2px $color__var-automne;
        }
        &:nth-child(1),
        &:nth-child(4){
          background-color: lighten($color__var-automne, 30%);
        }
        &:nth-child(2),
        &:nth-child(3){
          background-color: lighten($color__var-automne, 50%);
        }
    }

    .facebook{
        .poivron{
            background-image: url("../../uploads/2019/05/citrouille.svg");
        }
    }

    // index.php
    .card{
        h4{
            color: $color__var-automne;
          }    
    } 

    .wp-paginate.wpp-modern-grey {
        a{
          border-radius: 0!important;
          //padding: 0!important;
          background-color: $color__var-automne!important;
        }
        span{
          border-radius: 0!important;
          //padding: 0!important;
          background-color: $color__var-automne!important;
        }
    }
}

// Hiver
body.hiver {
    .main-navigation ul li,
    .main-navigation .current_page_item>a,
    .main-navigation .current-menu-item>a,
    .links__left__skew__img,
    .entry-header h1, .entry-header h1.entry-tile,
    footer
    {
        background-color: $color__var-hiver;
    }

    .main-navigation ul li {
        &:hover > a,
		&.focus > a {
			background-color: darken($color__var-hiver,10%);
        }
    }

    .secondary_box_background {
        background-image: url(../../uploads/2019/04/winter.jpg);
    } 

    .second-border, .site-main {
		border: solid 1px $color__var-hiver;
    }
    
    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
        color: #666;
        border: 1px solid $color__var-hiver;
        border-radius: 3px;
        padding: 3px;
    }

    input[type="submit"],
    button.menu-toggle,
    h3.date-title{
        background-color: darken($color__var-hiver, 20%);
        padding: .5rem 1rem;   
    }

    .grid-card{
        h2{
            color: $color__var-hiver;
        }
        a{
            border-bottom: solid 2px $color__var-hiver;
        }
        &:nth-child(1),
        &:nth-child(4){
          background-color: lighten($color__var-hiver, 30%);
        }
        &:nth-child(2),
        &:nth-child(3){
          background-color: lighten($color__var-hiver, 50%);
        }
      
    }

    .facebook{
        .poivron{
            background-image: url("../../uploads/2019/05/bonhomme-de-neige.svg");
        }
    }

    // index.php
    .card{
        h4{
            color: $color__var-hiver;
          }    
    } 

    .wp-paginate.wpp-modern-grey {
        a{
          border-radius: 0!important;
          //padding: 0!important;
          background-color: $color__var-hiver!important;
        }
        span{
          border-radius: 0!important;
          //padding: 0!important;
          background-color: $color__var-hiver!important;
        }
    }

}
