h1, h2, h3, h4, h5, h6 {
	clear: both;
	margin: 0;
}

main{
	display: block;
	margin-top: -3rem;
	h1{
		display: inline-block;
		color: white;
		padding: 0.5rem 2rem;
		background-color: $color__primary;
	}
}